* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grad {
  background-image: linear-gradient(to bottom right, #efd2ff, #dfa5ff);
  background-attachment: fixed;
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

/* Grid Items */
.container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(16, 1fr);
  gap: 0em;
  margin: 20px;
  border: 3px solid white;
  border-radius: 10px;
  width: 98vw;
  height: 95vh;
}

.banner-item {
  background-image: linear-gradient(to bottom, #fbabaf, #dfa5ff);
  background-attachment: fixed;
  backdrop-filter: blur(2000px);
  border-radius: 10px;
  grid-row: 1 / 13;
  grid-column: 1 / 10;
}

.user-pass-item {
  padding: 25px;
  margin: 20px 0px 0px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 4 / 9;
  grid-column: 12 / 16;
}

.signup-item {
  padding: 25px;
  margin: 20px 0px 0px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 4 / 10;
  grid-column: 12 / 16;
}



/* Left Hand */
div>img {
  display: grid;
  width: 50%;
  height: auto;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;


}

/* Right Hand */
h1 {
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 12 / 16;
  margin: 0px 0px 20px;
}

p {
  text-align: center;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:visited {
  color: rgb(51, 48, 48);
}

button {
  background-color: #d2abff;
  /* background-image: linear-gradient(to bottom, #fa93eb, #dfa5ff); */
  border: 0;
  padding: 8px 0px 8px;
  margin: 5px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}


.login-signup-link {
  text-align: center;
  margin: 35px 0px 0px;
}
