* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad {
  background-image: linear-gradient(to bottom right, #efd2ff, #dfa5ff);
  background-attachment: fixed;
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}



.grid-layout {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 0em;
  margin: 20px;
  border: 3px solid white;
  border-radius: 10px;
}

main>div {
  border: 1px dashed black;
}

.link-grid-item {
  padding: 0px;
  /* border: 3px solid white; */
  border-radius: 10px;
  margin: 25px;
  background-color: rgb(252, 249, 255);
}

.content-grid-item {
  padding: 25px;
  /* border: 3px solid white; */
  border-radius: 10px;
  margin: 25px;
  background-color: rgb(252, 249, 255);
  justify-self: center;
  align-self: center;
}

.link-grid {
  justify-content: center;
  border: 2px solid red;
}

.my-accounts-grid {
  justify-content: center;

}


/*Links*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 15px 0px 0px;
}

ul>li {
  /* border: 1px solid black; */
  padding: 15px 0px 15px 15px;
  margin: 0px;
}

ul>li>a {
  color: rgb(51, 48, 48);
}

:visited {
  color: rgb(51, 48, 48);
}

div>ul>li:hover {
  color: gray;
  font-weight: bold;
  background-color: rgba(174, 75, 255, 0.187);
}

/* .active>a {
  background-color: #efd2ff;
  color: white;
} */



/* My Projects Grid */

.task-p {
  margin: 10px 0px 20px;
}

table {
  /* border: 1px solid white; */
  border-collapse: collapse;
  margin: 5px 0px 15px;
  table-layout: auto;
  width: 100%;
  text-align: center;
}

tr {
  border: none;
}

th,
td {
  padding: 15px 15px 15px;
  border-bottom: 1px solid rgb(201, 196, 201);
  /* border-top: 1px solid rgb(94, 60, 60); */
  text-align: center;
}



/* #create-link {
  margin: 15px 5px 0px;
  text-align: right;
} */

#create-button {
  padding: 5px 10px 5px;
  margin: 15px 0px 10px;
  float: left;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(245, 240, 240);
}


/*Create Project Form*/
.contact-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
