* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad {
  background-image: linear-gradient(to bottom right, #efd2ff, #dfa5ff);
  background-attachment: fixed;
}

body {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 2px;
  color: rgb(84, 83, 83);
}

#welcome-header {
  text-align: left;
  padding: 25px 25px 8px;
}

/* nav {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  background-color: #999;
  color: #fff;
  border: 5px solid #666;
  padding: 20px;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav>ul>li {
  float: left;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

nav>ul>li>a {
  display: block;
  padding: 8px;
} */

/* main {
  margin: 25px;
  box-sizing: border-box;
  border: 3px solid red;
} */

/*media-query*/

body {
  height: 98vh;
  width: 98vw;
}

body>div {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(15, 1fr);
  gap: 1em;
  padding: 20px;
  margin: 20px 20px 10px;
  border: 3px solid white;
  border-radius: 10px;
  height: 100vh;
  background-image: linear-gradient(to top bottom, #efd2ff, #dfa5ff);
  background-attachment: fixed;
}

.nav-grid-item {
  padding: 0px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 1 / 12;
  grid-column: 1 / 3;
  height: auto;
}

.placeholder-item {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 1 / 2;
  grid-column: 3 / 6;
}

.search-grid-item {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 1 / 2;
  grid-column: 6 / 14;
}

.user-name-item {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 1 / 2;
  grid-column: 14 / 16;
}

.overview-item-1 {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 6;
  grid-column: 3 / 6;
}

.overview-item-2 {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 6;
  grid-column: 6 / 9;
}

.overview-item-3 {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 6;
  grid-column: 9 / 12;
}

.overview-item-4 {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 6;
  grid-column: 12 / 16;
}

.timeline-item {
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 6;
  grid-column: 3 / 16;
}

.content-grid-item {
  padding: 10px;
  margin: 0px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 6 / 12;
  grid-column: 3 / 16;
}

.create-grid-item {
  padding: 10px;
  margin: 0px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(252, 249, 255);
  grid-row: 2 / 10;
  grid-column: 3 / 16;

}

.create-task-item {

  background-color: rgb(252, 249, 255);
  grid-row: 4 / 9;
  grid-column: 12 / 16;
}

/*
.grid-area {
  grid-area: row-start col-start row-end col-end;
}
*/

/*Dancing Duck*/
img {
  width: 10%;
  height: auto;
  display: grid;
  position: fixed;
  bottom: 12%;
  left: 3%;
}


/*Links*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 15px 0px 0px;
}

ul>li {
  /* border: 1px solid black; */
  padding: 15px 0px 15px 15px;
  margin: 0px;
}

ul>li>a {
  color: rgb(51, 48, 48);
}

:visited {
  color: rgb(51, 48, 48);
}

div>div>ul>li:hover {
  color: gray;
  font-weight: bold;
  background-color: rgba(174, 75, 255, 0.187);
}

.empty {}

.empty:hover {
  color: gray;
  font-weight: bold;
  background-color: rgba(174, 75, 255, 0.187);
}

/* .active>a {
  background-color: #efd2ff;
  color: white;
} */



/* My Projects Grid */

/* .task-p {
  margin: 10px 0px 20px;
} */

.field-name {
  margin: 20px 0px 5px;
}

table {
  /* border: 1px solid white; */
  border-collapse: collapse;
  margin: 5px 0px 15px;
  table-layout: auto;
  width: 100%;
  text-align: center;
}

tr {
  border: none;
}

th,
td {
  padding: 15px 15px 15px;
  border-bottom: 1px solid rgb(201, 196, 201);
  /* border-top: 1px solid rgb(94, 60, 60); */
  text-align: center;
}



/* #create-link {
  margin: 15px 5px 0px;
  text-align: right;
} */

.create-button {
  padding: 5px 10px 5px;
  margin: 15px 0px 10px;
  float: left;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(245, 240, 240);
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.create-center-button {
  padding: 5px 10px 5px;
  margin: 15px 0px 10px;
  float: center;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(245, 240, 240);
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.task-create-button {
  padding: 8px 20px 8px;
  margin: 25px 0px 10px;
  float: left;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(245, 240, 240);
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

button:hover {
  color: white;
  background-color: rgb(200, 196, 196);
  font-weight: 500;
}


/*Create Project Form*/
.contact-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  font-family: Verdana, Helvetica Neue, Tahoma, sans-serif;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

option {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*Footer*/
.footer-container {
  display: flex;
  flex-direction: row;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 10px 0px 0px;
  margin: 20px;
  float: right;
}

/* NOT WORKING */
footer>div>a:hover {
  text-decoration: underline;
}
