* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad {
  background-image: linear-gradient(to bottom right, rgba(244, 219, 249, 255), rgba(216, 219, 254, 255));
  background-attachment: fixed;
}

nav {}


main {
  padding: 25px;
  border: 3px solid white;
  border-radius: 10px;
  margin: 50px;
}

table {
  content: ;
  padding: 8px 15px 8px;
  border: 1px solid white;
  border-radius: 10px;

  text-align: center;
}

th,
td {
  content: ;
  padding: 8px 15px 8px;
  border: 1px solid white;
  margin: 2px;
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
