{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="banner-item">
  <img src="{% static 'images/group_working.png' %}" alt="bored boy in classroom">
</div>


<div class="user-pass-item">
  <h1>Welcome</h1>
  <form method="post">
    {% csrf_token %}
    <!--RETURN 'INVALID USER'-->
    <p>{% render_field form.username placeholder="Username" class+="form-control" %}</p>
    <p>{% render_field form.password placeholder="Password" class+="form-control" %}</p>
    <p><a href=""><button>Login</button></a></p>
    <p class="login-signup-link"><a href="{% url 'signup'%}">Signup</a></p>
  </form>
</div>

{% comment %} <div class="">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Login</button>
  </form>
</div> {% endcomment %}
{% endblock content %}
