{% load static %}

<!DOCTYPE html>
<html lang="en" id="grad" class="font">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>


<body>
  <header>
    <nav>
    </nav>
  </header>

  <main class="grid-layout">
    <div class="grid-item nav-grid">
      {% if user.is_authenticated %}
      <ul>
        <li><a href="">Dashboard</a></li>
        <li><a href="{% url 'list_projects' %}">My Projects</a></li>
        <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
        <li> <a href="{% url 'logout' %}">Logout</a> </li>
      </ul>
      {% else %}
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
      </ul>
      {% endif %}
    </div>

    <div class="grid-item my-project-grid">
      {% block content %} {% endblock content %}
    </div>
  </main>

  <footer>
    <p></p>
  </footer>
</body>
