{% load static %}

<!DOCTYPE html>
<html lang="en" id="grad" class="font">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <header>
      <div id="welcome-header">
        <h1>
          Project Manager
        </h1>
      </div>
    </header>
    <main>

      <div class="container">

        <div class="nav-grid-item">
          {% if user.is_authenticated %}
          <!--CREATE DASHBOARD VIEW-->
          <ul>
            <li>
              <a href="">❖ Dashboard</a>
            </li>
            <li>
              <a href="{% url 'list_projects' %}">𝌓 My Projects</a>
            </li>
            <li>
              <a href="{% url 'show_my_tasks' %}">☑︎ My Tasks</a>
            </li>
            <li>
              <a href="">✎ Notes</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">⇱ Logout</a>
            </li>
          </ul>

            <img src="{% static 'images/ghost_heart.gif' %}" alt="Hovering Ghost">

          {% else %}
          <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
          </ul>
          {% endif %}
        </div>

        <div class="placeholder-item">
          <p>placeholder</p>
        </div>

        <div class="search-grid-item">
          <p>search bar</p>
        </div>

        <div class="user-name-item">
          {% if user.is_authenticated %}
              <!--HOW does it know to use 'user' from accounts.views?-->
              Welcome Back, {{ user.username }} 😊
            <!--else return signup webpage-->
            {% else %}
              <a href="{% url 'signup'%}">Sign up</a>
            <!--end conditional-->
            {% endif %}
        </div>

        {% block content %} {% endblock content %}
      </div>

    </main>

    <footer>
      <div class="footer-container">
        <div>
          <p>Copyright Content</p>
        </div>
        <div>
          <a href="">
            <p>Privacy Policy</p>
          </a>
        </div>
        <div>
          <a href="">
            <p>Help Desk</p>
          </a>
        </div>
      </div>
    </footer>
  </div>
</body>
