{% load static %}

<!DOCTYPE html>
<html lang="en" id="grad" class="font">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>

<body>

  <main class="grid-layout">
    <div class="link-grid link-grid-item">
      {% if user.is_authenticated %}
      <ul>
        <li><a href="{% url 'show_my_tasks'%}">My tasks</a></li>
        <li><a href="{% url 'list_projects'%}">My projects</a></li>
        <li> <a href="{% url 'logout'%}">Logout</a> </li>
      </ul>
      {% else %}
      <button><a href="{% url 'login'%}">Login</a></button>
      <button><a href="{% url 'signup'%}">Signup</a></button>
      {% endif %}
    </div>

    <div class="my-accounts-grid content-grid-item">
      {% block content %} {% endblock content %}
    </div>
  </main>

  <footer>
    <p></p>
  </footer>
</body>
