{% extends 'project_base.html' %}
{% load widget_tweaks %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}

<div class="create-grid-item">
  <h1>Welcome</h1>
  <form method="post">
    {% csrf_token %}

		<p class="field-name">
    Name:<p>{% render_field form.name placeholder="Project Name" class+="form-control" %}</p>
		</p>

		<p class="field-name">
    Description: <p>{% render_field form.description placeholder="This task will.." class+="form-control" %}</p>
		</p>

		<p class="field-name">
		Owner:<p>{% render_field form.owner placeholder="Owner" class+="form-control" %}</p>
		</p>
    <p><button class="task-create-button">Create</button></p>
  </form>
</div>

{% endblock content %}
