{% extends 'project_base.html' %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}


<div class="timeline-item">
  <p>Timeline</p>
</div>


<div class="content-grid-item">
  <h1>{{task_list.name}}</h1>
  <p class="task-p">Mod 1 final assessment project</p>
  <h2>Tasks</h2>
  {% comment %} <button class="create-button">
    <a href="{% url 'create_task' %}">Create a new task</a>
  </button> {% endcomment %}
  <div>
    {% if task_list.tasks.all %}
    <button class="create-button">
      <a href="{% url 'create_task' %}">Create a new task</a>
    </button>
    <table>
      <thead>
        <th>Name</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Is completed</th>
      </thead>
      <tbody>
        {% for task in task_list.tasks.all %}
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.assignee}}</td>
          <td>{{task.start_date}}</td>
          <td>{{task.due_date}}</td>
          <td>{{task.is_completed|yesno:"yes,no"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <table>
      <tr>
        <td>
          <p>This project has no tasks</p>
          <button class="create-center-button">
            <a href="{% url 'create_task' %}">Create a new task</a>
          </button>
        </td>
      </tr>
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
