{% extends 'project_base.html' %}
{% load static %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}
{% load static %}

<div class="overview-item-1">
  <h3>Started</h3>
  <img src="{% static 'images/started.png' %}" alt="Circular Chart">
</div>

<div class="overview-item-2">
  <h3>Completed</h3>
  <img src="{% static 'images/completed.png' %}" alt="Circular Chart">
</div>

<div class="overview-item-3">
  <h3>Pending</h3>
  <img src="{% static 'images/pending.png' %}" alt="Circular Chart">
</div>

<div class="overview-item-4">
  <h3>Upcoming Meetings:</h3>
  <ul>
    <li>
      Weekly Standup: 08/04/2023 9:15 am
    </li>
    <li>
      Meet w/ Finance: 08/12/2023 12:30 pm
    </li>
    <li>
      Meet w/ Marketing: 08/13/2023 4:30 pm
    </li>
    <li>
      Leadership Meeting: 08/30/2023
    </li>
  </ul>
</div>


<div class="content-grid-item">
  <h1>My Projects</h1>

  <div>
    {% if list_projects%}
    <table>
      <thead>
        <th>Name</th>
        <th>Number of tasks</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Attachments</th>
      </thead>
      <tbody>
        {% for project in list_projects %}
        <tr>
          <!--Hovers Over All <td>s-->
          <td class="empty">
            <a href="{% url 'show_project' project.id %}">{{project.name}}</a>
          </td>
          <td>{{project.tasks.all|length}}</td>
          <td>{Start Date of First Task}</td>
          <td>{Due Date of Last Task}</td>
          <td>{Progress Bar}</td>
          <td>
            <label for="file-upload" class="custom-file-upload">
              Upload File
            </label>
            <input id="file-upload" type="file" />
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <table>
      <tr>
        <td>
          <p>This project has no tasks</p>
          <button class="create-center-button">
            <a href="{% url 'create_task' %}">Create a new project</a>
          </button>
        </td>
      </tr>
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
